.Header {
	position: fixed;
	width: 100%;
	color: #2664bb;
	height: 200px;
	padding: 0 80px;
	box-sizing: border-box;
	background-color: rgb(240, 179, 179);
	display: flex;
	justify-content: space-between;
	align-items: center;
	a {
		padding: 5px;
		margin-right: 10px;
		font-size: 16px;
		font-weight: 600;
	}
	.nav {
		color: rgb(232, 248, 255);
		font-size: 38px;
		transition: all 0.1s ease-in-out;
		&:hover {
			color: #687f9c;
		}
	}
}
