.Header {
	color: #fff;
	height: 65px;
	padding: 0 40px 0 35px;
	box-sizing: border-box;
	background-color: rgb(3, 37, 65);
	display: flex;
	justify-content: space-between;
	align-items: center;
	a {
		padding: 5px;
		margin-right: 10px;
		font-size: 16px;
		font-weight: 600;
	}
	.nav {
		transition: all 0.1s ease-in-out;
		&:hover {
			color: rgb(122, 231, 255);
			border-bottom: 1px solid rgb(122, 231, 255);
		}
	}
	.User {
		margin-left: 3px;
		font-size: 14px;
		transition: all 0.1s ease-in-out;
		&:hover {
			color: rgb(122, 231, 255);
			border-bottom: 1px solid rgb(122, 231, 255);
		}
	}
	.Login {
		cursor: pointer;
		&:active {
			color: rgb(122, 231, 255);
		}
	}
}
