.root,
body {
	width: 100%;
	height: 100%;
}

.flexCenter {
	display: flex;
	justify-content: center;
	align-items: center;
}

.flexClmCenter {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
}

.arco-image {
	position: static;
	display: inline-block;
	border-radius: var(--border-radius-small);
	vertical-align: middle;
}
